/* confiração para tags em geral */



/* titulo perguntando oque é a bookdata */
#titulo{
    text-align:center;
}
#filosofia{
    padding:1vh;
    margin-top: 10vh;
}
#criacao{
    padding:1vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}



/* container das informações */
#informacoes{
    margin-top:20vh;
    margin-left:20%;
    width:60%;
    text-align:justify;
    text-indent:40px;
}
@media (orientation:portrait){
    #informacoes{
        width:90%;
        margin-left:5%;
    }
}